<ActionBar class="action-bar" flat="true">
    <Label class="action-bar-title" text="Progress"></Label>
    <NavigationButton (tap)="goBack()" android.systemIcon="ic_menu_back" text="Go Back"></NavigationButton>
</ActionBar>

<ListView [items]="items" class="list-group"
           separatorColor="blue">
    <ng-template let-item="item">
        <GridLayout rows="auto, auto, auto">
            <Label row="0" color="black" [text]="item.date" class="list-group-item"></Label>
            <Label row="1" color="black" [text]="item.process" class="list-group-item"></Label>
            <Label row="2" color="black" [text]="item.office" class="list-group-item"></Label>
        </GridLayout>
    </ng-template>
</ListView>

