<!--&lt;!&ndash;not yet delivered&ndash;&gt;-->
<!--<ng-container *ngIf="type === 'noYetDelivered'">-->
<!--&lt;!&ndash;    <ion-icon [name]="(dataObj?.lastItem || dataObj) | iconStatusPipe" [style.color]="colorList | randomColor"&ndash;&gt;-->
<!--&lt;!&ndash;              class="icon-info"></ion-icon>&ndash;&gt;-->
<!--    <h3 class="text-info process" text-wrap>{{dataObj?.lastItem || dataObj}}</h3>-->
<!--</ng-container>-->

<!--&lt;!&ndash;delivered&ndash;&gt;-->
<!--<ng-container *ngIf="type === 'delivered'">-->
<!--    <div style="margin-bottom: 15px">-->
<!--        <ion-chip color="success" style="margin-left: 0; margin-bottom: 8px">-->
<!--            <ion-icon name="checkmark-circle"></ion-icon>-->
<!--            <ion-label>{{ 'GLOBAL.DELIVERED' | translate }}</ion-label>-->
<!--        </ion-chip>-->
<!--        <br>-->
<!--&lt;!&ndash;        <app-ring class="ring-info"></app-ring>&ndash;&gt;-->
<!--        <h3 class="text-info delivered" text-wrap>{{dataObj?.lastItem || dataObj}}</h3>-->
<!--    </div>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="type === 'process'">-->
<!--    <div style="margin-top: 8px; margin-bottom: 5px">-->
<!--        <ion-chip color="success" style="margin-left: 0">-->
<!--            <ion-icon name="checkmark-circle"></ion-icon>-->
<!--            <ion-label>Processing</ion-label>-->
<!--        </ion-chip>-->
<!--    </div>-->
<!--</ng-container>-->

<!--&lt;!&ndash;location&ndash;&gt;-->
<!--<ng-container *ngIf="type === 'location'">-->
<!--    <div style="margin-top: 8px">-->
<!--        <ion-icon [style.color]="colorList | randomColor" class="icon-info" name="pin"></ion-icon>-->
<!--        <h4 class="text-info location">{{dataObj?.lastLoc || dataObj}}</h4>-->
<!--    </div>-->
<!--</ng-container>-->

<!--&lt;!&ndash;date&ndash;&gt;-->
<!--<ng-container *ngIf="type === 'date'">-->
<!--    <div style="margin-top: 8px">-->
<!--        <ion-icon [style.color]="colorList | randomColor" class="icon-info" name="alarm"></ion-icon>-->
<!--        <h4 class="text-info date">{{dataObj?.lastDate || dataObj}}</h4>-->
<!--    </div>-->
<!--</ng-container>-->
