.icon-info {
  float: left;
  margin-right: 0.625rem;
}

.ring-info {
  float: left;
  margin: 7px 0.625rem -px -2px;
}

.text-info {
  text-overflow: inherit;
}

.process {
  font-size: 16px;
  font-weight: bold;
}

.delivered {
  font-size: 16px;
  font-weight: bold;
}

.location {
  color: var(--black-font-secondary);
}

.date {
  color: var(--black-font-secondary);
}
