$blue: #20e133; /* gray */

.pulse-dot {
  background: $blue;
  width: 4px;
  height: 4px;

  position: relative;
  transform: translate3d(0, 0, 0) rotate(45deg);
  margin-left: 8px;
  margin-bottom: 3px;
  margin-right: 5px;
  border-radius: 100%;
  box-shadow: 0 0 0 0 rgba(200, 215, 225, 0.7);

  animation: pulse 1.4s infinite cubic-bezier(.17, .67, .92, .62);
  -webkit-animation: pulse 1.4s infinite cubic-bezier(.17, .67, .92, .62);
  -moz-animation: pulse 1.4s infinite cubic-bezier(.17, .67, .92, .62);

  &:after {
    content: " ";
    background: $blue;
    width: 4px;
    height: 4px;

    position: absolute;
    transform: translate3d(0, 0, 0) rotate(45deg);

    border-radius: 100%;
    box-shadow: 0 0 0 0 rgba(200, 215, 225, 0.7);

    animation: pulse 1.4s infinite cubic-bezier(.62, .2, .86, .53);
    -webkit-animation: pulse 1.4s infinite cubic-bezier(.62, .2, .86, .53);
    -moz-animation: pulse 1.4s infinite cubic-bezier(.62, .2, .86, .53);
  }
}

@-webkit-keyframes pulse {
  100% {
    box-shadow: 0 0 0 0.625rem rgba(200, 215, 225, 0)
  }
}


.pulse {
  height: 100%;
  margin: 0 auto 0;
}
