<!--<ion-spinner *ngIf="isLoading" name="dots" style="color: var(&#45;&#45;font-color)"></ion-spinner>-->
<!--<h3 *ngIf="timeout" class="text-info" style="color: var(&#45;&#45;font-color)">-->
<!--    <i>{{ 'SETTING_PAGE.NO_CONNECTION' | translate }}</i></h3>-->
<!--<h3 *ngIf="isNull" class="text-info" style="color: var(&#45;&#45;font-color)">{{ 'GLOBAL.NO_RECORD' | translate }}</h3>-->

<!--&lt;!&ndash;not yet delivered&ndash;&gt;-->
<!--<div *ngIf="dataObj?.lastItem && !(dataObj?.lastItem | deliveredPipe)">-->
<!--    <list-card [data]="dataObj" [type]="'noYetDelivered'"></list-card>-->
<!--</div>-->

<!--&lt;!&ndash;delivered&ndash;&gt;-->
<!--<div *ngIf="dataObj?.lastItem | deliveredPipe" text-wrap>-->
<!--    <list-card [data]="dataObj" [type]="'delivered'"></list-card>-->
<!--</div>-->

<!--&lt;!&ndash;location&ndash;&gt;-->
<!--<div *ngIf="dataObj?.lastLoc">-->
<!--    <list-card [data]="dataObj" [type]="'location'"></list-card>-->
<!--</div>-->

<!--&lt;!&ndash;date&ndash;&gt;-->
<!--<div *ngIf="dataObj?.lastDate">-->
<!--    <list-card [data]="dataObj" [type]="'date'"></list-card>-->
<!--</div>-->

