<ActionBar class="action-bar">
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://navigation/menu"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Featured"></Label>
</ActionBar>

<StackLayout [elevation]="elevation"
             bgcolor="white"
             cornerRadius="10"
             forcePressAnimation="true"
             height="80%"
             margin="20"
             shadow
             verticalAlignment="top">
    <GridLayout rows="auto, auto, auto">
        <Label class="title"
               horizontalAlignment="center"
               margin="20"
               row="0"
               text="Pos Laju Tracking "
               textWrap="true"></Label>
        <Image borderRadius="100"
               height="150" margin="20"
               row="1" src="~/assets/poslogo.png"
               stretch="aspectFill" width="150">
        </Image>
        <Label class="my-label" col="2" horizontalAlignment="center" margin="20"
               row="2"
               [text]="text"
               textWrap="true"></Label>
    </GridLayout>
</StackLayout>

