<ActionBar class="action-bar" flat="true">
    <Label class="action-bar-title" text="Scan"></Label>
    <NavigationButton (tap)="goBack()" android.systemIcon="ic_menu_back" text="Go Back"></NavigationButton>
</ActionBar>


<GridLayout rows="auto, auto">
    <StackLayout backgroundColor="#3E6FD5" row="0">
        <Image
                margin="40"
                src="~/assets/scan-page.png"
                stretch="aspectFill">
        </Image>
    </StackLayout>

    <StackLayout backgroundColor="#fbfaff"
                 borderTopLeftRadius="50"
                 borderTopRightRadius="50"
                 height="100%"
                 horizontalAlignment="center"
                 marginTop="30%"
                 row="0"
                 width="100%">

        <GridLayout columns="*, *" margin="30" rows="auto, auto, auto, auto">

            <StackLayout borderRadius="40" class="input-custom" col="0" colSpan="2" row="0">
                <Label [text]="trackingNumber"></Label>
            </StackLayout>

            <GridLayout borderRadius="40" class=" input-custom" col="0" colSpan="2" columns="auto, *, auto" row="1" shadow="4">

                <StackLayout col="0" marginLeft="20" verticalAlignment="center">
                    <Label class="fas" fontSize="18" text="&#xf029;"></Label>
                </StackLayout>

                <TextField [(ngModel)]="trackingNumber"
                           col="1"
                           hint="Tracking Number.."
                           marginLeft="10"
                           marginRight="10"
                ></TextField>

                <StackLayout (tap)="onTapCamera($event)" col="2" marginRight="10" ripple verticalAlignment="center">
                    <Label class="fas p-12" fontSize="24" text="&#xf030;" verticalAlignment="center"></Label>
                </StackLayout>

            </GridLayout>

            <GridLayout borderRadius="40" class=" input-custom" col="0" colSpan="2" columns="auto, *, auto" row="2" shadow="4">

                <StackLayout col="0" marginLeft="20" verticalAlignment="center">
                    <Label class="fas" fontSize="18" text="&#xf466;"></Label>
                </StackLayout>

                <TextField [(ngModel)]="trackingNumber"
                           col="1"
                           hint="Title or Category.."
                           marginLeft="10"
                           marginRight="10"
                ></TextField>

                <StackLayout (tap)="onTapCategory($event)" col="2" marginRight="10" ripple verticalAlignment="center">
                    <Label class="fas p-12" fontSize="24" text="&#xf02b;" verticalAlignment="center"></Label>
                </StackLayout>

            </GridLayout>


            <StackLayout col="0" height="60" marginRight="3" marginTop="20" row="3">
                <Button (tap)="onTapSave($event)" class="btn-rounded-lg btn-primary" height="40" ripple text="Save"></Button>
            </StackLayout>

            <StackLayout col="1" height="60" marginLeft="3" marginTop="20" row="3">
                <Button (tap)="onTapTrack($event)" class="btn-rounded-lg btn-primary" height="40" ripple text="Track"></Button>
            </StackLayout>


        </GridLayout>
    </StackLayout>
</GridLayout>


