<ActionBar class="action-bar" flat="true">
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://navigation/menu"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Pos Tracking"></Label>
</ActionBar>

<GridLayout class="page page-content" rows="auto, *">
    <StackLayout backgroundColor="#3E6FD5" row="0" >
        <StackLayout class="search-stack">
            <SearchBar
                    (loaded)="searchBarLoaded($event)"
                    (submit)="onSubmit($event)"
                    (textChange)="onTextChange($event)"
                    class="search"
                    hint="Search Anything"
                    row="0">
            </SearchBar>
        </StackLayout>
    </StackLayout>
c
    <Label [text]="url | json"></Label>

    <GridLayout row="1" rows="*">
        <RadListView
                (itemReordered)="onItemReordered($event)"
                (pullToRefreshInitiated)="onPullToRefreshInitiated($event)"
                [items]="_dataItems"
                itemReorder="true"
                pullToRefresh="true"
                row="0"
                selectionBehavior="Press">

            <ng-template let-item="item" tkListItemTemplate>
                <StackLayout (tap)="onItemSelected(item)" class="item-stack" orientation="vertical" ripple shadow>
                    <Label [text]="item.name" class="labelTitle"></Label>
                    <Label [text]="item.description" class="labelText"></Label>
                </StackLayout>
            </ng-template>
        </RadListView>
    </GridLayout>

        <FAB (tap)="onTapFab()"
             row="1"
             class="fas fab-button"
             rippleColor="#f1f1f1"
             text="&#xf067;"
        ></FAB>
</GridLayout>
