<ActionBar class="action-bar" flat="true">
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://navigation/menu"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Pos Tracking"></Label>
</ActionBar>

<GridLayout class="page page-content" rows="auto, *">

    <StackLayout backgroundColor="#3E6FD5" row="0">
        <StackLayout class="search-stack">
            <SearchBar
                    (loaded)="searchBarLoaded($event)"
                    (submit)="onSubmit($event)"
                    (textChange)="onTextChange($event)"
                    class="search"
                    hint="Search"
                    row="0">
            </SearchBar>
        </StackLayout>
    </StackLayout>

    <AbsoluteLayout #AbsoluteLayoutRef (loaded)="setFabPosition($event)" row="1">
        <RadListView
                (itemReordered)="onItemReordered($event)"
                (itemSelected)="onItemSelected($event)"
                (pullToRefreshInitiated)="onPullToRefreshInitiated($event)"
                [items]="_dataItems"
                itemReorder="true"
                pullToRefresh="true"
                selectionBehavior="Press">

            <ng-template let-item="item" tkListItemTemplate>
                <StackLayout class="item-stack" orientation="vertical" ripple shadow>
                    <Label [text]="item.name" class="labelTitle"></Label>
                    <Label [text]="item.description" class="labelText"></Label>
                </StackLayout>
            </ng-template>

        </RadListView>


        <GridLayout #btnFabRef>
            <Button
                    (tap)="onTapFab()"
                    class="fas"
                    horizontalAlignment="center"
                    id="btnFab"
                    ripple
                    shadow="6"
                    text="&#xf067;"
                    verticalAlignment="center">
            </Button>
            <FAB (tap)="onTapFab()" class="fab-button" icon="'~/assets/org.jpg'" rippleColor="#f1f1f1"></FAB>

        </GridLayout>

    </AbsoluteLayout>

</GridLayout>
