<ActionBar class="action-bar" flat="true">
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://navigation/menu"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Pos Tracking"></Label>
</ActionBar>

<GridLayout class="page page-content" rows="auto, *">

    <StackLayout backgroundColor="#3E6FD5" row="0">
        <StackLayout backgroundColor="white" borderRadius="15" height="40" margin="10">
            <SearchBar (loaded)="searchBarLoaded($event)" (submit)="onSubmit($event)" (textChange)="onTextChange($event)" backgroundColor="white" hint="Search" margin="10"
                       row="0"></SearchBar>
        </StackLayout>
    </StackLayout>


    <GridLayout row="1" tkExampleTitle tkToggleNavButton>
        <RadListView (itemDeselected)="onItemDeselected($event)" (itemDeselecting)="onItemDeselecting($event)" (itemReordered)="onItemReordered($event)"
                     (itemSelected)="onItemSelected($event)" (itemSelecting)="onItemSelecting($event)"
                     (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" [items]="_dataItems" itemReorder="true" pullToRefresh="true" selectionBehavior="Press"
        >
            <ng-template let-item="item" tkListItemTemplate>
                <StackLayout margin="10" orientation="vertical">
                    <Label [text]="item.name" class="nameLabel"></Label>
                    <Label [text]="item.description" class="descriptionLabel"></Label>
                </StackLayout>
            </ng-template>
        </RadListView>
    </GridLayout>

</GridLayout>
