.search-stack {
  margin: 10 10 10 10;
  background-color: white;
  border-radius: 15;
  height: 40;
}

.search {
  background-color: white;
  //margin-left: 10;
  //margin-right: 10;
}

RadListView {
  //width: 100%;
  //height: 100%;

  .labelTitle {
    font-size: 14;
    font-weight: bold;
  }

  .labelText {
    font-size: 12;
  }
}

.item-stack {
  border-radius: 10;
  margin: 10;
  padding: 20
}

#btnFab {
  width: 56;
  height: 56;
  margin: 10;
  border-radius: 28;
  background-color: orangered;
  color: white;
}

.fab-button {
  width: 56;
  height: 56;
  margin: 15;
  font-size: 7;
  background-color: #ff4081;
  horizontal-align: right;
  vertical-align: bottom;
}

