<ActionBar class="action-bar">
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://navigation/menu"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Featured"></Label>
</ActionBar>

<StackLayout [elevation]="elevation"
             bgcolor="white"
             cornerRadius="10"
             forcePressAnimation="true"
             height="50%"
             margin="20"
             shadow
             verticalAlignment="top">
    <GridLayout rows="auto, auto, auto">
        <Label class="title"
               horizontalAlignment="center"
               margin="20"
               row="0"
               text="Pos Laju Tracking "
               textWrap="true"></Label>
        <Image borderRadius="100"
               height="150" margin="20"
               row="1" src="~/assets/poslogo.png"
               stretch="aspectFill" width="150">
        </Image>
        <Label class="my-label" col="2" horizontalAlignment="center" margin="20"
               row="2"
               text="Pos Laju Tracking is sssa free app to help users to track Pos Laju Parcel. This is NOT an Official Pos Laju Tracking Apps by Pos Laju Malaysia. But we develop it as a community project for Malaysian. Please refer to Pos Laju Malaysia for more information. Thank you."
               textWrap="true"></Label>
    </GridLayout>
</StackLayout>

