<ActionBar class="action-bar">
    <NavigationButton (tap)="onDrawerButtonTap()" icon="res://menu" ios:visibility="collapsed"></NavigationButton>
    <ActionItem (tap)="onDrawerButtonTap()" android:visibility="collapsed" icon="res://navigation/menu"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>


<GridLayout rows="auto, auto">
    <StackLayout backgroundColor="#3E6FD5" row="0">
        <Image
                margin="40"
                src="~/assets/scan-page.png"
                stretch="aspectFill">
        </Image>
    </StackLayout>

    <StackLayout backgroundColor="white"
                 borderTopLeftRadius="50"
                 borderTopRightRadius="50"
                 height="100%"
                 horizontalAlignment="center"
                 marginTop="30%"
                 row="0"
                 textWrap="true"
                 width="100%">
        <GridLayout columns="*, *" margin="30" rows="auto, auto, auto, auto">
            <TextField backgroundColor="blue" borderRadius="40" col="0" colSpan="2" height="50" hint="Enter text..."
                       row="0"
                       text="{{ textFieldValue }}"></TextField>
            <Label backgroundColor="green" col="0" colSpan="2" height="90" row="1" text="110, 10"></Label>
            <Label backgroundColor="blue" col="0" colSpan="2" height="90" row="2" text="110, 110"></Label>
            <Label backgroundColor="yellow" col="0" height="90" row="3" text="10, 110"></Label>
            <Label backgroundColor="#9acd32" col="1" height="90" row="3" text="10, 110"></Label>
        </GridLayout>
    </StackLayout>
</GridLayout>


