<StackLayout height="300">
    <StackLayout [elevation]="elevation"
                 [pressedElevation]="elevation+5"
                 bgcolor="#3E6FD5"
                 cornerRadius="10"
                 forcePressAnimation="true"
                 height="200" margin="50 20 20 20"
                 shadow>
        <GridLayout columns="*" rows="auto, auto, auto">
            <StackLayout col="0" margin="20" row="0">
                <Image borderRadius="100"
                       height="100" src="~/assets/org.jpg"
                       stretch="aspectFill" width="100">
                </Image>
            </StackLayout>
            <Label col="0" color="white" fontSize="20" horizontalAlignment="center" row="1"
                   text="Pos Tracking 2"></Label>
        </GridLayout>
    </StackLayout>
</StackLayout>

<ScrollView class="sidedrawer-content" row="1">
    <StackLayout>
        <GridLayout (tap)="onNavItemTap('/notification')" [class.selected]="isComponentSelected('/notification')"
                    class="sidedrawer-list-item" columns="auto, *">
            <Label class="fa" col="0" text="&#xf015;"></Label>
            <Label class="p-r-10" col="1" text="Discussion 👨‍💻"></Label>
        </GridLayout>

        <GridLayout (tap)="onNavItemTap('/setting')" [class.selected]="isComponentSelected('/setting')"
                    class="sidedrawer-list-item" columns="auto, *">
            <Label class="fa" col="0" text="&#xf1ea;"></Label>
            <Label class="p-r-10" col="1" text="Setting"></Label>
        </GridLayout>

        <GridLayout (tap)="onNavItemTap('/share')" [class.selected]="isComponentSelected('/share')"
                    class="sidedrawer-list-item" columns="auto, *">
            <Label class="fa" col="0" text="&#xf002;"></Label>
            <Label class="p-r-10" col="1" text="Share App"></Label>
        </GridLayout>

        <GridLayout (tap)="onNavItemTap('/rate')" [class.selected]="isComponentSelected('/rate')"
                    class="sidedrawer-list-item" columns="auto, *">
            <Label class="fa" col="0" text="&#xf005;"></Label>
            <Label class="p-r-10" col="1" text="Rate 5 Star 🌟"></Label>
        </GridLayout>

        <GridLayout (tap)="onNavItemTap('/more-apps')" [class.selected]="isComponentSelected('/more-apps')"
                    class="sidedrawer-list-item" columns="auto, *">
            <Label class="fa" col="0" text="&#xf013;"></Label>
            <Label class="p-r-10" col="1" text="More Apps"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>

